<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous" th:href="@{/webjars/github-com-twbs-bootstrap/5.1.3/css/bootstrap.min.css}">

    <title>Patient Symptom Form</title>
</head>

</head>
<body>
<div class="container">
    <h1>Enter Patient Symptom</h1>
    <form>
        <div class="form-group">
            <label for="symptom">Symptom</label>
            <input type="text" class="form-control" id="symptom" aria-describedby="symptomHelp" placeholder="Enter symptom">
            <small id="symptomHelp" class="form-text text-muted">Please describe the symptom in as much detail as possible.</small>

            <input type="text" class="form-control" id="age" aria-describedby="age" placeholder="Enter Age">
            <small id="ageHelp" class="form-text text-muted">Please Enter the patient's age .</small>

            <input type="text" class="form-control" id="gender" aria-describedby="symptomHelp" placeholder="Enter Gender">
            <small id="genderHelp" class="form-text text-muted">Please Enter the patient Gender.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.3/dist/umd/popper.min.js"
        integrity="sha384-Md3ZV7oZjK0mVtNpFtGGySPfKj0xTnT7jY9GIf+Z1TkZn2ec2nGQKjq3yew8lxP6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-7jr5W5Qv7YX9XD2V7PuMAWKjVqIbFtPwaa7RxRx1yjfzYOdT/hjR0Z/O1ZDlNcBj" crossorigin="anonymous"></script>
</body>
</html>
