<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous" th:href="@{/webjars/github-com-twbs-bootstrap/5.1.3/css/bootstrap.min.css}">

    <title>Patient Symptom Form</title>
</head>
<body>

<div class="container">
    <h1 class="text-primary mb-3">Diagnosis Result</h1>
    <p class="lead">The patient has been diagnosed with the following condition:</p>
    <form th:action="@{/app/search}" method="get" th:object="${data}">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="data : ${data}">
            <td th:text="${data.name}"></td>
        </tr>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>Issues</th>
            <th>Specialisation</th>
        </tr>
        </thead>
        <tr th:each="rs : ${result}">
            <td>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>ICD</th>
                        <th>ICD Name</th>
                        <th>Prof Name</th>
                        <th>Accuracy</th>
                        <th>Ranking</th>
                    </tr>
                    </thead>
                    <tr th:each="innerObject : ${rs.issue}">
                        <td th:text="${innerObject.id}"></td>
                        <td th:text="${innerObject.name}"></td>
                        <td th:text="${innerObject.icd}"></td>
                        <td th:text="${innerObject.icdName}"></td>
                        <td th:text="${innerObject.profName}"></td>
                        <td th:text="${innerObject.accuracy}"></td>
                        <td th:text="${innerObject.ranking}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ranking</th>
                    </tr>
                    </thead>
                    <tr th:each="innerObject : ${rs.specialisation}">
                        <td th:text="${innerObject.id}"></td>
                        <td th:text="${innerObject.name}"></td>
                        <td th:text="${innerObject.ranking}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <a href="#" class="btn btn-primary">View Treatment Options</a>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.3/dist/umd/popper.min.js"
        integrity="sha384-Md3ZV7oZjK0mVtNpFtGGySPfKj0xTnT7jY9GIf+Z1TkZn2ec2nGQKjq3yew8lxP6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-7jr5W5Qv7YX9XD2V7PuMAWKjVqIbFtPwaa7RxRx1yjfzYOdT/hjR0Z/O1ZDlNcBj" crossorigin="anonymous"></script>
</body>
</html>